<div class="main-page-logo">
	<img src="../../../assets/img/delivery.svg" alt="delivery">
	<h2>ШИФТ Delivery - мягкая доставка со скоростью света</h2>
</div>

<form class="delivery-form" [formGroup]="form" (ngSubmit)="submit()">

	<h1>Рассчитать доставку</h1>

	<mat-form-field appearance="outline">
		<mat-label>
			<mat-icon>place</mat-icon>
			Город отправки
		</mat-label>
		<mat-select matInput formControlName="senderPoint" (selectionChange)="change(senderPoint.value, 'sender')"
			#senderPoint>
			<mat-option *ngFor="let point of deliveryPointsSender" [value]="point">{{ point.name }}</mat-option>
		</mat-select>
		<mat-error>Выберите город</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			<mat-icon>near_me</mat-icon>
			Город назначения
		</mat-label>
		<mat-select matInput formControlName="receiverPoint" (selectionChange)="change(receiverPoint.value, 'receiver')"
			#receiverPoint>
			<mat-option *ngFor="let point of deliveryPointsReceiver" [value]="point">{{ point.name }}</mat-option>
		</mat-select>
		<mat-error>Выберите город</mat-error>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			<mat-icon>mail</mat-icon>
			Размер посылки
		</mat-label>
		<mat-select matInput formControlName="packageType">
			<mat-option *ngFor="let package of packageTypes" [value]="package">{{ package.name }}</mat-option>
		</mat-select>
		<mat-error>Выберите тип посылки</mat-error>
	</mat-form-field>

	<button type="submit" mat-raised-button [disabled]="form.invalid">Рассчитать</button>
</form>