<div class="main-page-logo">
	<img src="../../../assets/img/delivery.svg" alt="delivery">
	<h2>ШИФТ Delivery - мягкая доставка со скоростью света</h2>
</div>

<form class="delivery-form" [formGroup]="form" (ngSubmit)="submit()">

	<h1>Рассчитать доставку</h1>

	<mat-form-field appearance="outline">
		<mat-label>
			<mat-icon>place</mat-icon>
			Город отправки
		</mat-label>
		<mat-select>
			<mat-option value="Москва">Москва</mat-option>
			<mat-option value="Новосибирск">Новосибирск</mat-option>
			<mat-option value="Иркутск">Иркутск</mat-option>
			<mat-option value="Пенза">Пенза</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			<mat-icon>near_me</mat-icon>
			Город назначения
		</mat-label>
		<mat-select>
			<mat-option value="Москва">Москва</mat-option>
			<mat-option value="Новосибирск">Новосибирск</mat-option>
			<mat-option value="Иркутск">Иркутск</mat-option>
			<mat-option value="Пенза">Пенза</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="outline">
		<mat-label>
			<mat-icon>mail</mat-icon>
			Размер посылки
		</mat-label>
		<mat-select>
			<mat-option value="Конверт">Конверт</mat-option>
			<mat-option value="Посылка">Посылка</mat-option>
		</mat-select>
	</mat-form-field>

	<button type="submit" mat-raised-button>Рассчитать</button>
</form>